body {
  background: #D11F1F;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Helvetica, Arial;
}

.image-container {
  margin-top: 30px;

  .banner-container {
    display: table;
    height: 320px;
    width: 960px;
    background-color: #FF0D3D;

    .banner-top,
    .banner-center,
    .banner-bottom {
      display: table-row;

      > div {
        display: table-cell;
      }
    }

    .banner-corner {
      background: url(./corner.png);
      width: 140px;
      height: 140px;
    }

    .banner-top-left {
    }
 
    .banner-top-right {
      transform: rotate(90deg);
    }
 
    .banner-bottom-left {
      transform: rotate(-90deg);
    }
 
    .banner-bottom-right {
      transform: rotate(180deg);
    }
  }

  .banner-text {
    position: absolute;
    transform: translate(-50%, -50%);
    text-shadow: 2px 0 1px #e6d062, 2px 2px 1px #e6d062, 0 2px 1px #e6d062, -2px 2px 1px #e6d062, -2px 0 1px #e6d062, -2px -2px 1px #e6d062, 0 -2px 1px #e6d062, 2px -2px 1px #e6d062;
  }
}

.text-font {
  white-space: pre;
  font-family: "標楷體", "DFKai-sb";
}

.text-picker {
  margin-top: 20px;

  input {
    font-size: 2em;
    width: 400px;
    text-align: center;
  }
}

.sticker-picker {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;

  .image_picker_selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .thumbnails img {
    height: 100px;
    cursor: pointer;
  }

  .credit img {
    width: 100px;
  }
}

.convert-button {
  margin-top: 20px;

  button {
    font-size: 1.5em;
  }
}

.footer {
  margin-top: 20px;
  font-size: 12px;
}
